nyc_calendar.csv
nyc_listings.csv
bos_calendar.csv
bos_listings.csv
chi_calendar.csv
chi_listings.csv
dal_calendar.csv
dal_listings.csv
dc_calendar.csv
dc_listings.csv
lv_calendar.csv
lv_listings.csv
msp_calendar.csv
msp_listings.csv
nsh_calendar.csv
nsh_listings.csv
la_calendar.csv
la_listings.csv

final_project-checkpoint.ipynb